
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;

}

html:focus-within {
    scroll-behavior: smooth;
    /*Enable smooth horizontal scrolling*/
    -webkit-overflow-scrolling: touch;
}

html {
    font-family: 'Poppins', sans-serif;
    /* resetting font size to 10px makes rem math much easier*/
    font-size: 10px;
    box-sizing: border-box;
}
P, li, button{
    font-size: 1.6rem;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: var(--black);
    color: var(--soft-white);
}
/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

:root{
    --black: #181A18;
    --accent-red: #bd1e51;
    --font-gray:#aaaaaa;
    --yellow: #f4db7d;
    --orange: #ff6a3d;
    --blue:#9daaf2;
    /*-------*/
    --dark-purple: #28104e;
    --main-purple: rgb(62, 30, 108);
    --mid-purple:#9754cb;
    --lt-purple: rgba(223, 173, 244, 0.32);
    --site-pad:0rem 2rem;
    --bdr-radius: 15px;
    --soft-gray:#565656;
    --soft-white:rgb(233,233,233);
    --container-max-width:1400px
}

/*TODO: NAVIGATION*/
.landing{
    padding: var(--site-pad);
    width: 100%;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    border-bottom: var(--main-purple) 1px solid;
}
.nav-links p{
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 12px;
}
.nav-links .nav-contact-btn{
    width: 98px;
    height: 33px;
    border-radius: var(--bdr-radius);
    border: var(--font-gray) 2px solid;
    background: transparent;
    color: var(--font-gray);
}
/*Hide quote*/
.nav-quote{
    display: none;
}
/*TODO: HERO HEADLINE*/
.hero-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0;
    /*height: 30vh;*/
}
.fullstack, .developer{
    font-size: calc(1rem + 14.5vw);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}
.developer-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*TODO: ABOUT SECTION*/
.about-section{
    width: 100%;
gap: 25px;
    max-width: var(--container-max-width);
    /*margin-top: 15px;*/
    /**/
}
.mini-about-me{
    text-justify: inter-word;
    font-size:calc(1.5rem + 3vw);
    /*font-size:calc(.5rem + 3vw);*/
    margin-bottom: 70px;

}
.mini-about-me span:first-child{
    color: var(--accent-red);
    padding: 0 6px;
    background: var(--soft-white);
    font-weight: 600;
    flex: 2;
}
.cake-emojis{
    font-size: clamp(2rem,calc(.5rem + 4.5vw),5rem);
}
.about-section img{
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto;
    flex: 1;
}
.about-btn{
    width: 95px;
    height: 30px;
    border-radius: var(--bdr-radius);
    /*border: var(--font-gray) 2px solid;*/
    background: var(--font-gray);
    color: var(--black);
    /*margin-bottom: 18px;*/
    position: relative;
    bottom: 5px;
    cursor: pointer;
}
/*TODO: INTRO/LOAD TRANSITION*/
.intro{
    background:black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text{
    color: var(--soft-white);
    font-size: 2rem;
    text-transform: capitalize;
}
.author-name{
    font-weight: 400;
}
.slider{
    background:var(--soft-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
/*TODO: QUOTE SECTIONS*/
.positive-quote{
    width: 100%;
    height: 100vh;
    position: relative;
}
.positive-polygon{
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 44;
}
.positive-quote p{
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: capitalize;
    background-color: var(--black);
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 49;
}
/*TODO: SKILLS SECTION*/
.skills-section{
    width: 100%;
    background-color: var(--dark-purple);
    position: relative;
}
.skills-gradient-purple{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(var(--black), var(--dark-purple));
}
.skills-section h2{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--soft-white);
}
.skills-section h2:last-of-type{
    font-weight: 400;
    color: var(--soft-white);
}
.skills-list-section{
    margin-top: 30px;
}
.skills-wrapper{
    padding: var(--site-pad);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: space-evenly;
}
.skills-wrapper p{
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--main-purple);
    transition: all 750ms 50ms ease-in-out;
}
.skills-wrapper p:hover{
color: var(--soft-white);
    transform: scale(1.2);
}
.skills-wrapper p:not(:hover){
    filter: blur(3px);
}
/*TODO: JOIN FORCES SECTION*/
.skills-gradient-black{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(var(--dark-purple),var(--black));
}




/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*TODO: MEDIA QUERIES*/
@media (min-width: 540px) {
/*.nav-quote{*/
/*    display: block;*/
/*}*/
    .fullstack, .developer{
        font-size: calc(1rem + 15.5vw);
    }
}
@media (min-width: 768px) {
   .fullstack, .developer{
        font-size: calc(1rem + 16vw);
    }
    /*margin: 35px 0 90px 0;*/
    .about-section{
        display: flex;
        align-items: center;
        /*justify-content: space-around;*/
        /*max-width:var(--container-max-width) ;*/
        margin: 0 auto;
        justify-content: space-between;
    }
    .mini-about-me{

        font-size:calc(.5rem + 1.7vw);
        padding-right: 20px;
        flex: 1;
    }
    .about-section img{
        /*width: 100%;*/
        /*max-width: 450px;*/
        /*display: block;*/
        /*!*margin: 0 auto;*!*/
        flex: 2;
    }
    .about-btn{
        width: 98px;
        height: 33px;
        position: relative;
        bottom: 13px;
    }
}
@media (min-width: 1200px) {
    .mini-about-me{

        /*font-size:calc(.5rem + 2.5vw);*/
        padding-right: 20px;
        flex: 1;
    }
    .about-section img{

        max-width: 550px;
        display: block;
        /*margin: 0 auto;*/
    }
}