@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;

}

html:focus-within {
    scroll-behavior: smooth;
    /*Enable smooth horizontal scrolling*/
    -webkit-overflow-scrolling: touch;
}

html {
    font-family: 'Poppins', sans-serif;
    /* resetting font size to 10px makes rem math much easier*/
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
P, li, button{
    font-size: 1.6rem;
}
/*h2{*/
/*    font-size: 4rem;*/
/*    !*color: var(--lt-purple);*!*/
/*    font-weight: 600;*/
/*    margin-bottom: .6rem;*/
/*    text-transform: uppercase;*/
/*}*/
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: var(--black);
    color: var(--soft-white);
}
/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

:root{
    --black: #181A18;
    --accent-red: #bd1e51;
    --font-gray:#aaaaaa;
    --yellow: #f4db7d;
    --orange: #ff6a3d;
    --blue:#9daaf2;
    /*-------*/
    --dark-purple: #28104e;
    --main-purple: #6237a0;
    --mid-purple: #9754cb;
    --lt-purple: #e0acf4;
    --site-pad:0rem 2.5rem;
    --bdr-radius: 15px;
    --soft-gray: #adacac;
    --soft-white:rgb(233,233,233);
    --container-max-width:1400px;
    --contact-form:rgba(151, 84, 203, 0.47);
}
/*SECTION PADDING*/
.landing{
    padding: var(--site-pad);
    width: 100%;
}


/*TODO: INTRO/LOAD TRANSITION*/
.intro{
    background:black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text{
    color: var(--soft-white);
    font-size: 2rem;
    text-transform: capitalize;
}
.author-name{
    font-weight: 400;
}
.slider{
    background:var(--soft-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
/*TODO: NAVIGATION*/

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    border-bottom: var(--main-purple) 1px solid;
}
.nav-links p{
    font-size: 1.4rem;
    text-transform: uppercase;

}
.status{
    font-weight: bold;
}
.availability{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 12px;
}
.nav-links .nav-contact-btn{
    width: 98px;
    height: 33px;
    border-radius: var(--bdr-radius);
    border: var(--font-gray) 2px solid;
    background: transparent;
    color: var(--font-gray);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.nav-links .nav-contact-btn:hover{
    border: var(--mid-purple);
    background: var(--mid-purple);
    color: var(--soft-white);
    width: 105px;
}

/*Hide quote*/
.nav-quote{
    display: none;
}
/*TODO: HERO HEADLINE*/
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15rem;
    height: 87vh;
    /*height: 30vh;*/
    position: relative;
}

.introduction-name{
    font-size: 3rem;
    color: var(--mid-purple);
    font-weight: 600;
    margin-bottom: 1.2rem;
}
.introduction-description{
    /*color: var(--lt-purple);*/
    color: var(--soft-gray);
        font-size: 1.7rem;
        font-family: 'JetBrains Mono', monospace;
        margin-bottom: 2rem;
}
.introduction-btn{
    width: 105px;
    height: 30px;
    border-radius: var(--bdr-radius);
    background: var(--mid-purple);
    color: var(--dark-purple);
    cursor: pointer;
}
.fullstack-section{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.fullstack, .developer{
    font-size: calc(1rem + 10.5vw);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    color: var(--soft-gray);
}
.developer-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*TODO: ABOUT SECTION*/
.about-section{
    width: 100%;
gap: 25px;
    max-width: var(--container-max-width);
    margin-top: 60px;
    /**/
}
.about-design{
    width: 100%;
    margin: 1rem 1rem 5rem 1rem;
}
.title-h2{
    font-size: 3rem;
    /*margin-bottom: 2rem;*/
    text-transform: capitalize;
    /*margin-right: 1rem;*/
    text-align: left;
    /*flex: 2;*/
    /*opacity: .5;*/
    /*color: var(--soft-white);*/
}
.polygon-h2{
    width: 13%;
    /*margin-left: 10px;*/
    /*flex: 1;*/
}
.h2-divider{
    background-color: var(--lt-purple);
    width: 100%;
    height: 3px;
    /*margin: 0 5px;*/
    flex: 1;
}

.about-me-paragraph{
     text-justify: inter-word;
   color: var(--soft-gray);
    font-weight: 300;
    /*font-family: 'JetBrains Mono', monospace;*/
margin-bottom: 7rem;

}
.mini-about-me span:first-child{
    color: var(--soft-white);
    padding: 0 6px;
    background: var(--main-purple);
    font-weight: 500;
    flex: 2;
}
.cake-emojis{
    font-size: clamp(1.5rem,calc(.5rem + 3.5vw),5rem);
}
.about-me-richard{
    filter: grayscale(50%);
    width:100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;

}
.about-me-richard-wrapper{
    position: relative;
}
.about-me-richard-wrapper::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    /*max-width: 300px;*/
    /*max-height: 300px;*/
    border-radius: 15px;
    border: 2px dotted var(--mid-purple);
    /*background-color: orangered;*/
    top: 20px;
    left: 20px;
    right: 0;
    bottom: 0;
    z-index: -1;


}
.about-me-richard-wrapper::after:hover{
    top: 10px;
    left: 10px;
}
.about-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*TODO: QUOTE SECTIONS*/
.positive-quote{
    width: 100%;
    height: 100vh;
    position: relative;
}
.positive-polygon{
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.positive-quote p{
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: capitalize;
    border: 2px dotted var(--mid-purple);
    background-color: var(--black);
    width: 50%;
    text-align: center;
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--mid-purple);
    /*z-index: 1;*/
}
/*TODO: SKILLS SECTION*/
.skills-section{
    width: 100%;
    background-color: var(--dark-purple);
    position: relative;
}
.skills-gradient-purple{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(var(--black), var(--dark-purple));
}
/*top top bottom black gradient*/
.skills-gradient-black{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(var(--dark-purple),var(--black));
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}
.skills-section h2{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--soft-white);
}
.skills-section h2:last-of-type{
    font-weight: 200;
    color: var(--soft-white);
    font-size: 2.5rem;
}
.skills-list-section{
    margin-top: 30px;
}
.skills-wrapper{
    padding: var(--site-pad);
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: space-evenly;
}
.skills-wrapper p{
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--main-purple);
    transition: all 650ms  cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.skills-wrapper p:hover{
color: var(--soft-white);
    transform: scale(1.2);
}
.skills-wrapper p:not(:hover){
    filter: blur(1.5px);
}
/*TODO: JOIN FORCES SECTION*/

.btn{
    width: 105px;
    height: 30px;
    border-radius: var(--bdr-radius);
    background: var(--mid-purple);
    color: var(--dark-purple);
    cursor: pointer;
    position: absolute;
    left: 55%;
    top: 75%;
    transform: translate(-75%,-55%);
}
/*TODO: PROJECTS SECTION*/
.projects-section{
    background-color: var(--black);
    padding: 2.5rem;
}
.projects-grid{
    display: -ms-grid;
display: grid;
grid-auto-columns: 1fr;
grid-column-gap: 3.5em;
grid-row-gap: 3.5em;
-ms-grid-columns: 1fr;
grid-template-columns: 1fr;
-ms-grid-rows: auto;
grid-template-rows: auto;
}
/*.image-overlay{*/
/*    border-radius: 30px;*/
/*    position: relative;*/
/*}*/

.image-containers{
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    height:100%;
    position: relative;
    /*display: flex;*/
    /*align-items: end;*/
    /*justify-content: center;*/
    /*flex-direction: ;*/
    /*padding: 10px;*/
}
.project-title-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
    transition: all 550ms ease-in-out;
}
.project-title-wrapper:hover{
    opacity: 0;
}
.project-title{
    position: absolute;
    z-index:1;
    font-size: 2.5rem;
    font-weight: 300;
    bottom: 30px;
    left: 30px;
    /*width: 100%;*/
    /*height: 100%;*/
}

/*.image-containers::after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/

/*    font-size: 3.6rem;*/
/*    font-weight: 500;*/
/*    !*max-width: 300px;*!*/
/*    !*max-height: 300px;*!*/
/*    border-radius: 30px;*/
/*    background-color: rgba(0,0,0,0.7);*/
/*    opacity: .7;*/
/*    !*background-color: red;*!*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    !*z-index: 1;*!*/
/*    transition: all 550ms ease-in-out;*/
/*}*/
/*.image-containers:hover::after{*/
/*    opacity: 0;*/
/*transform: scale(1.2) rotate(10deg);*/
/* }*/

/*.projects-grid{*/
/*    display: -ms-grid;*/
/*    display: grid;*/
/*    grid-auto-columns: 1fr;*/
/*    grid-column-gap: 3.5em;*/
/*    grid-row-gap: 3.5em;*/
/*    -ms-grid-columns: 1fr 1fr;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    -ms-grid-rows: auto;*/
/*    grid-template-rows: auto;*/

/*TODO: CONTACT FOOTER*/
.nope{
    user-select: none;
}

.contact-title-h2{
    font-size: calc(7.5rem + 1vw);
    /*margin-bottom: 2rem;*/
    text-transform: uppercase;
    text-align: center;
    /*margin-right: 1rem;*/
    /*flex: 2;*/
    /*opacity: .5;*/
    /*color: var(--soft-white);*/
}
.contact-section-wrapper{
overflow: hidden;
    margin: 20rem 0 3rem 0;
    position: relative;
}
.contact-section{
    width: 100%;
    max-width: 625px;
}
.addy{
font-size: 1.5rem;
    padding: 1.5rem;
}
.contact-email{
width: 100%;
    height: 75px;
 border: 1px solid var(--contact-form);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
.contact-email::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: translateX(100%);
    position: absolute;
    padding: 20px;
    transition: all 800ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.contact-email:hover::before{
    content: "click to copy 😄";
    font-size: 2rem;

    color: var(--soft-white);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: rgba(151, 84, 203, 0.85);
    transform: translateX(0%);
    position: absolute;
}
.email-address{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
    opacity: 1;
    transition: all 800ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.email-address:hover{
    opacity: .2;
    transform: scale(.85);
}

.email-icon{
    height: 100%;
    width:100%;
    max-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--contact-form);
    margin-left: auto;
    padding: 15px;
}
.fa-paper-plane{
    font-size: 2rem;
    color: var(--soft-white);
}

/*}*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*\*/
/*TODO: MEDIA QUERIES*/
/*@media (min-width: 540px) {*/
/*!*.nav-quote{*!*/
/*!*    display: block;*!*/
/*!*}*!*/
/*    .fullstack, .developer{*/
/*        font-size: calc(1rem + 15.5vw);*/
/*    }*/
/*}*/
@media (min-width: 700px) {

}
@media (min-width: 768px) {
   .fullstack, .developer{
        font-size: calc(1rem + 16vw);
    }
    /*margin: 35px 0 90px 0;*/
    .about-section{
        display: flex;
        align-items: center;
        /*justify-content: space-around;*/
        /*max-width:var(--container-max-width) ;*/
        margin: 0 auto;
        justify-content: space-between;
    }
    .mini-about-me{

        font-size:calc(.5rem + 1.7vw);
        padding-right: 20px;
        flex: 1;
    }
    .about-section img{
        /*width: 100%;*/
        /*max-width: 450px;*/
        /*display: block;*/
        /*!*margin: 0 auto;*!*/
        flex: 2;
    }
    .about-btn{
        width: 98px;
        height: 33px;
        position: relative;
        bottom: 13px;
    }
}
@media (min-width: 1200px) {
    .mini-about-me{

        /*font-size:calc(.5rem + 2.5vw);*/
        padding-right: 20px;
        flex: 1;
    }
    .about-section img{

        max-width: 550px;
        display: block;
        /*margin: 0 auto;*/
    }
}